#signature {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 5em;
    z-index: 5;
    padding-top: 150px;
}

.tab-height {
    height: 406px;
}

.bio {
    padding-bottom: 40px;
}

/*Form CSS*/
/* label color */
.input-field label {
    color: #e57373;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #e57373;
}

.input-field textarea[class=materialize-textarea]:focus + label {
    color: #e57373;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #e57373;
    box-shadow: 0 1px 0 0 #e57373;
}

.input-field input[type=email]:focus {
    border-bottom: 1px solid #e57373;
    box-shadow: 0 1px 0 0 #e57373;
}

.input-field input[type=tel]:focus {
    border-bottom: 1px solid #e57373;
    box-shadow: 0 1px 0 0 #e57373;
}

.input-field textarea[class=materialize-textarea]:focus {
    border-bottom: 1px solid #e57373;
    box-shadow: 0 1px 0 0 #e57373;
}
